@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,200&display=swap');

$primaryColor: #046b99;
$secondaryColor: #b3efff;

$fontGray: A9A9A9;
$fontSize: 1rem;

$menuItemsFont: 'Kanit', sans-serif;
